/* ------------------------------------------------------------------------- */
/* Developer: Andrew Kirfman                                                 */
/* Project: Smart Greenhouse                                                 */
/*                                                                           */
/* File: ./static/create_new_account.css                                     */
/* ------------------------------------------------------------------------- */

.text-muted 
{
	color: #777;
}

html 
{
	position: relative;
	min-height: 100%;
}

body 
{
	margin-bottom: 60px;
}

.footer 
{
	position: absolute;
    bottom: 0;
	height: 60px;
}
.row
{
	margin-right: 0px;
	margin-left: 0px;
}